body{
    background-color: #EBEBEB;
}

.nav_container{
    display: grid;
    grid-template-columns: 25% 60% 15%;
    /*box-shadow: 0 1px 2px black;*/
    background-color: white;
    height: 300px;
    border-bottom: 2px solid black;
}

.div-logo {
    width: 300px;
    height: 300px;
}

.div-logo img{
    width: 90%;
    height: 90%;
}


.div-menu{
    height: 180px;
    margin-top: 70px;
    margin-right: 10px;
}

.div-menu img{
    width: 60%;
    height: 50%;
    margin-top: 30px;
}

.nombre-banco {
    margin-top: 70px;
    margin-left: 20px;
    font-size: 50px;
}


.main-container{
    padding-top: 180px;
}

.parte1{
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
}

.saldo-container{
    background-color: white;
    border-radius: 5%;
    height: 600px;
    border: 1px solid grey;
    margin-top: 40px;
}

.div-productos{
    font-size: 60px;
    font-weight: 700;
}

.div-cuenta{
    font-size: 40px;
}

.numero-cuenta{
    height: 25%;
    font-size: 40px;
    font-style: italic;
    color: #033076;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 3px solid black;
}

.div-dinero{
    font-size: 85px;
    font-style: italic;
    padding-top: 100px;
    color: #033076;
}

.div-saldo{
    font-size: 45px;
    padding-top: 50px;
}


.container-operaciones {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.container-operaciones div {
    background-color: white;
    border-radius: 15%;
    width: 160px;
    height: 160px;
    border: 1px solid grey;
    padding-top: 30px;
    padding-left: 40px;
}

.container-operaciones img{
    width: 70%;
    height: 70%;
}

.parte2 {
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 90px;
}

.div-operaciones {
    font-size: 50px;
    padding-bottom: 30px;
}

.container-descripciones {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 15px;
    font-size: 28px;
}

.div-transferencias{
    margin-left: -15px;
}
.div-pagos{
    padding-left: 40px;
}
.div-contactos{
    padding-left: 15px;
}
.div-otras{
    text-align: center;
    margin-left: -30px;
}
